fastapi
uvicorn
yfinance
pandas
numpy
backtesting
scipy
statsmodels
librosa
ta-lib
requests
lxml
html5lib
mkl-fft
mkl-service
opencv-python
tensorboard
tensorflow-intel
tensorflow-io-gcs-filesystem
tf-keras
tflite-support
scikit-image
keras
plotly
matplotlib
scikit-learn
